# ignore Pycharm files
.idea/

# ignore virtualenv files
venv/

# ignore info folder 
info/

# do not upload data, but keep folders
data/features/*
!data/features/.gitkeep
data/LLD-icon/*
data/tsne/vae/*
!data/tsne/vae/.gitkeep
data/labels/vae/*
!data/labels/vae/.gitkeep

# do not upload models, but keep folders
src/models/dcgan32/*
!src/models/dcgan32/.gitkeep
src/models/resnet32/*
!src/models/resnet32/.gitkeep
src/models/wgan/*
!src/models/wgan/.gitkeep

# Python specific
**/__pycache__/
**/.ipynb_checkpoints

# Ignore Mac DS_Store files
.DS_Store

