# ignore Pycharm files
.idea/

# ignore virtualenv files
venv/

# ignore info folder 
info/

# do not upload data, but keep folders
data/features/*
!data/features/.gitkeep
data/LLD-icon/*
data/tsne/*
!data/tsne/.gitkeep
data/labels/*
!data/labels/.gitkeep

# do not upload models, but keep folders
src/models/dcgan32/*
!src/models/dcgan32/.gitkeep

# Python specific
**/__pycache__/
**/.ipynb_checkpoints

# Ignore Mac DS_Store files
.DS_Store

